Hello 
W ostatnich latach wzrosła koncentracja firm na zasobach ludzkich. Umiejętności i wiedza pracowników stanowią bardzo solidny fundament dla przedsiębiorstwa do budowania przewagi nad konkurencją i są niezbędnym składnikiem do dalszego rozwoju organizacji. Z tych powodów utrzymanie pracowników ramach organizacji jest kluczową kwestia do zajęcia się przez działy HR - utrata wartościowych pracowników jest bardzo kosztowna dla przedsiębiorstwa, a zatrudnianie nowych generuje wyższe koszty niż utrzymanie już tych obecnych.

Innowacje związane z podejmowaniem decyzji na podstawie analizy danych wkraczają również do świata HR. Wyobraź sobie, że pracujesz w firmie SKNS Investment Ltd. jako analityk danych, a dział HR potrzebuje analizy która ułatwi proces decyzji co do przywiązania większej uwagi do pewnych grup pracowników na podstawie kryteriów obecnych w danym poniżej zbiorze danych. Dział HR dysponuje zbiorem danych o ocenach miesięcznych pracowników z działu sprzedaży ubezpieczeń do nowych klientów o następujących kolumnach:
1. MMM.YY - Dzień wpisania oceny miesięcznej pracownika do bazy
2. Emp_ID - Identyfikator pracownika
3. Age - Wiek
4. Gender - Płeć
5. City - Identyfikator dla oddziału mieszczącego się w danym mieście
6. Education_Level - Bachelor / College / Master
7. Salary - Wynagrodzenie roczne
8. Dateofjoining - Data dołączenia do firmy
9. LastWorkingDate - Data odejścia, jeśli pracownik odszedł w danym okresie
10. Joining.Designation - pięciostopniowy poziom kwalifikacji podczas rekrutacji (1 - niski poziom, 5 - bardzo wysoki poziom)
11. Designation - aktualny poziom kwalifikacji
12. Total.Business.Value - Sumaryczna ilość sprzedanych ubezpieczeń (KPI z którego są rozliczani w perspektywie miesięcznej)
13. Quarterly.Rating - ocena roczna (1 - niski poziom, 5 bardzo wysoki poziom)
podczas
Sporządź wstępną analizę wynikającą z eksploracji dołączonego zbioru danych, z przedstawieniem kluczowych wniosków dla działu HR, którzy pracownicy mają większą a którzy mniejszą szansę na odejście z firmy w najbliższym czasie. Dołączona analiza ma zostać przygotowana przy pomocy jednego z języków programowania (akceptowane są wyłącznie Python/R/Julia) w Jupyter Notebook wraz z wykresami pokazującymi odpowiednie zauważone przez Waszą drużynę zależności.

### Streszczenie

W ostatnich latach wzrosła koncentracja firm na zasobach ludzkich. Umiejętności i wiedza pracowników stanowią bardzo solidny fundament dla przedsiębiorstwa do budowania przewagi nad konkurencją i są niezbędnym składnikiem do dalszego rozwoju organizacji. Z tych powodów utrzymanie pracowników w ramach organizacji jest kluczową kwestia do zajęcia się przez działy HR - utrata wartościowych pracowników jest bardzo kosztowna dla przedsiębiorstwa, a zatrudnianie nowych generuje wyższe koszty niż utrzymanie już tych obecnych.

Popularnosc wykorzystania sztucznej inteligencji, metod machine learning i deep learning w działach HR rośnie. Rozwój organizacji i jej stabilnosc w duzym stopniu związana jest z rotacją pracowników, będącą ważnym czynnikiem ryzyka biznesowego. Według szacunków portalu strefabiznesu.pl w najbardziej dynamicznych sektorach, takich jak IT czy SSC/BPO rotacja w 2022 roku będzie sięgać 25 proc. To znaczy, że firmy mogą stracić nawet co czwartego pracownika.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
from scipy import stats
import seaborn as sns

matplotlib.rcParams['figure.figsize'] = [15, 9]

pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
df = pd.read_csv("Attrition_dataset.csv", sep = ";")
df_cities = pd.read_csv("Cities_map.csv", sep = ";")

In [ ]:
df

,Emp_ID,MMM.YY,Age,Salary,LastWorkingDate,Designation,Total.Business.Value,Quarterly.Rating,Gender,City,Education_Level,Dateofjoining,Joining.Designation
0,1,01.01.2016,28,"57387,00 USD",NaN,1,2381060,2,Male,C23,MASTER,24.12.2015,1
1,1,01.02.2016,28,"57387,00 USD",NaN,1,-665480,2,Male,C23,MASTER,24.12.2015,1
2,1,01.03.2016,28,"57387,00 USD",11.03.2016,1,0,2,Male,C23,MASTER,24.12.2015,1
3,2,01.11.2017,31,"67016,00 USD",NaN,2,0,1,Male,C7,Master,06.11.2017,2
4,2,01.12.2017,31,"67016,00 USD",NaN,2,0,1,Male,C7,Master,06.11.2017,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19185,2044,01.03.2017,34,"38619,00 USD",23.03.2017,2,0,1,Male,C20,Colege,15.11.2016,2
19186,2651,01.08.2017,34,"62292,00 USD",29.07.2017,2,180000,1,Male,C11,Master,27.06.2016,2
19187,1864,01.01.2016,32,"85688,00 USD",NaN,3,3414220,3,Female,C29,Bachelor,11.08.2011,1
19188,2422,01.05.2016,47,"111507,00 USD",NaN,4,202400,2,Male,C4,Bachelor's,26.08.2011,2
19189,2598,01.10.2016,36,"102822,00 USD",NaN,3,0,1,Female,C20,Master,20.09.2016,3

In [ ]:
df[df.LastWorkingDate.notna()]

,Emp_ID,Dateofeval,Age,Salary,LastWorkingDate,Designation,TBV,Rating,Gender,City,Education_Level,Dateofjoining,Join_Designation
2,1,2016-03-01,28,"57387,00 USD",11.03.2016,1,0,2,Male,C23,Master,24.12.2015,1
9,4,2017-04-01,43,"65603,00 USD",27.04.2017,2,0,1,Male,C13,Master,07.12.2016,2
12,5,2016-03-01,29,"46368,00 USD",07.03.2016,1,0,1,Male,C9,College,09.01.2016,1
20,8,2017-11-01,34,"70656,00 USD",15.11.2017,3,0,1,Male,C2,College,19.09.2017,3
27,12,2016-12-01,35,"28116,00 USD",21.12.2016,1,0,1,Male,C23,Master,29.06.2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19161,1803,2016-07-01,34,"52914,00 USD",20.07.2016,1,0,1,Male,C3,Master,09.05.2015,1
19167,1719,2017-02-01,46,"44497,00 USD",17.02.2017,1,311670,2,Female,C3,College,01.10.2015,1
19168,645,2016-08-01,28,"110445,00 USD",01.08.2016,4,0,1,Female,C8,Master,30.03.2016,2
19185,2044,2017-03-01,34,"38619,00 USD",23.03.2017,2,0,1,Male,C20,College,15.11.2016,2
19186,2651,2017-08-01,34,"62292,00 USD",29.07.2017,2,180000,1,Male,C11,Master,27.06.2016,2

In [ ]:
df.Education_Level.unique()

array(['MASTER', 'Master', 'Colege', 'Bachelor', 'College', "Bachelor's"],
      dtype=object)

W kolumnie "Education_Level" są użyte różne nazwy na te same stopnie edukacji, wieć standaryzują to nazewnictwo

In [ ]:
df = df.replace(to_replace = {'MASTER':'Master', 'Colege':'College', "Bachelor's":'Bachelor'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19190 entries, 0 to 19189
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Emp_ID                19190 non-null  int64
 1   MMM.YY                19190 non-null  object
 2   Age                   19190 non-null  int64
 3   Salary                19190 non-null  object
 4   LastWorkingDate       1628 non-null   object
 5   Designation           19190 non-null  int64
 6   Total.Business.Value  19190 non-null  int64
 7   Quarterly.Rating      19190 non-null  int64
 8   Gender                19190 non-null  object
 9   City                  19190 non-null  object
 10  Education_Level       19190 non-null  object
 11  Dateofjoining         19190 non-null  object
 12  Joining.Designation   19190 non-null  int64
dtypes: int64(6), object(7)
memory usage: 1.9+ MB

In [ ]:
# df.replace( to_replace = {"Jan":"01","Feb":"02","Mar":"03","Apr":"04","May":"05","Jun":"06","Jul":"07","Aug":"08","Sep":"09","Oct":"10","Nov":"11","Dec":"12"})

# Zmieniam nazwy kolumn by nie zawerały znaków '.'
df.rename(columns = {"MMM.YY" : "Dateofeval", "Total.Business.Value":"TBV", "Quarterly.Rating":"Rating", "Joining.Designation":"Join_Designation"}, inplace = True)

# MMM.YY , LastWorkingDate oraz Dateofjoining mają typ object więc zmieniam je na typ date
df.Dateofeval = pd.to_datetime(df.Dateofeval, format='%d.%m.%Y')
df.Dateofjoining = pd.to_datetime(df.Dateofjoining, format='%d.%m.%Y') # W tej kolumnie sa jakies dziwne daty
df.LastWorkingDate = pd.to_datetime(df.LastWorkingDate, format='%d.%m.%Y')

ValueError: time data '16.Oct.18' does not match format '%d.%m.%Y' (match)

In [ ]:
# Sprawdzam brakujące wartości

df.isna().sum()

In [ ]:
# Jedyne to te od pracowników którzy nie odeszli, czyli nie ma żadnych wartości brakujących do uzupełnienia

# Zmieniam typ danych 'Salary;
df.Salary = df.Salary.replace(to_replace = {' USD':'',',':'.'}, regex = True).astype(float)

In [ ]:
df

In [ ]:
df.loc[4,"Dateofeval"]

In [ ]:
# Ile pracowników jest w zbiorze danych
len(df.Emp_ID.unique())

In [ ]:
# Tworzę nowy DataFrame gdzie znajduje się jeden rekord dla każdego pracownika z najpóźniejszą datą w Dateofeval - czyli najświeższa ewaluacja

latest_eval = df.sort_values("Dateofeval", ascending = False).drop_duplicates("Emp_ID")

In [ ]:
latest_eval

In [ ]:
len(latest_eval)

In [ ]:
# Tworzę nową kolumnę z ilością przepracowanych dni - na razie są tam tylko dane dla pracowników którzy opuścili firmę
latest_eval.loc[:,"WorkDays"] = latest_eval.LastWorkingDate - latest_eval.Dateofjoining

In [ ]:
latest_eval = latest_eval.sort_index()
# Dodaję nową kolumnę - 1 jeśli pracownik odszedł, 0 jeśli nie odszedł
latest_eval.loc[:,"IfLeft"] = latest_eval.LastWorkingDate.notna().astype(int)

In [ ]:
# Wpisuję w WorkDays wartości dla pracowników którzy nie opuścili firmy (wpisuje tam czas od dolączenia do dnia ostatniej ewaluacji)
latest_eval.WorkDays.fillna(latest_eval.loc[:,"Dateofeval"] - latest_eval.loc[:,"Dateofjoining"], inplace = True)
latest_eval

In [ ]:
# Zmieniam typ danych z timedelta na int
latest_eval.WorkDays = latest_eval.WorkDays.dt.days

In [ ]:
f = sns.FacetGrid(latest_eval, col = "IfLeft")
f.map(plt.hist, "WorkDays", bins = 20)

In [ ]:
# Tworzę nową kolumnę z sumą TBV ze wszystkich miesięcy w których pracownik był ewaluowane

valuesum = df.groupby("Emp_ID")["TBV"].sum().reset_index()
valuesum.rename(columns = {"TBV" : "ValueSum"}, inplace = True)
latest_eval = latest_eval.merge(valuesum, how = "left", on = "Emp_ID")

In [ ]:
latest_eval

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=d5c0f37b-1962-40a3-8c5f-0185a7161b95' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>